.vscode/**
**/compile.bat
# ignore files in examples
example*/obj/*
example*/bin/*.exe
example*/bin/*.dll
example*/bin/data/shaders/


# ignore files in tests
tests/obj/*
tests/bin/*.exe
tests/bin/*.dll
tests/bin/data/shaders/
